/* .MuiCardContent-root {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
} */

.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 22px;
}

.infoBox--selected {
  border-top: 7px solid rgb(101, 230, 69);
}

.infoBox--red {
  border-color: rgb(231, 27, 27);
}

.infoBox--blue {
  border-color: rgb(51, 91, 167);
}

.infoBox__title {
  padding-right: 1.25rem;
}

.infoBox__cases {
  color: rgb(182, 59, 59);
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  overflow-wrap: break-word;
}

.infoBox__cases--green {
  color: rgb(81, 179, 56);
}

.infoBox__cases--blue {
  color: rgb(51, 91, 167);
}

.infoBox__total {
  color: rgb(47, 75, 94) !important;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
